<center>
<table>
  <tr>
    <th>All Users Listed</th>
  </tr>
  <% @users.each do |user| %>
    <tr>
      <td><%= user.email %></td>
      <% if current_user %>
      <td>
        <%= link_to 'Remove User', user_path(user),
        method: :delete, 
        data: { confirm: 'Are you sure?' } %>
      </td>
      <% end %>
    </tr>
  <% end %>
  </table>
</center>