<br>
<br>
<br>
<br>
<h1>Welcome to my Fact Card app!</h1>
<h2>Click above on "All Cards" to view more facts.</h2>
<div class="welcome_card">
	<br>
	<br>
	<br>
	<br>
	<%= render partial: 'cards/card', locals: { card: Card.last } %>
	<br>
	<br>
	<br>
</div>