/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body {
    background-size: cover;
    background-image: url('blackboard.jpg');    
/*	margin: 50px auto;
    width: 	500px;*/
    color: white;
    font-size: 125%
}

/*.navbar {
	position: fixed;
}*/

.navbar-inverse {
    left: 0;
    position: fixed;
    width: 100%;
}

#user {
	float: right;
	margin-right: 3%;
	margin-top: 1%;
}

.welcome_card {
	margin-top: 10%;
	background-size: 500px 200px;
    background-image: url('magnet.jpeg');
	width: 	500px;
	color: black;
}

.comments {
	color: white;
}

.cards {
	margin-top: 10%;
	background-size: 500px 250px;
    background-image: url('magnet.jpeg');
    background-repeat: no-repeat;
	width: 	500px;
	color: black;
	padding: 20px;
}

.actions {
	color: black;
}

.user_input {
	color: black;
}